@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #272727;

    --principal-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--tertiary-color);
    text-decoration: none;
}


.apresentation{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentation__content__title{
    font-size: 36px;
    font-family: var(--principal-font);
}

.apresentation__content__description{
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
}


.apresentation__content__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentation__content__links__title{
    font-family: var(--principal-font);
    font-weight: 400;
    font-size: 24px;
}

.apresentation__content__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    border: 2px solid var(--tertiary-color);
}

.apresentation__content__links__link:hover{
    background-color:var(--hover-color);
}

.apresentation__img{
    width: 45%;
    height: 45%;
}

footer{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
}